@charset "UTF-8";
@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUILight/SegoeUI-Light.eot");
  src: url("../fonts/SegoeUILight/SegoeUI-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUILight/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUILight/SegoeUI-Light.ttf") format("truetype"), url("../fonts/SegoeUILight/SegoeUI-Light.otf") format("opentype"), url("../fonts/SegoeUILight/SegoeUI-Light.svg#SegoeUI-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-2666; }
@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUIRegular/SegoeUI.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUI.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUI.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUI.ttf") format("truetype"), url("../fonts/SegoeUIRegular/SegoeUI.otf") format("opentype"), url("../fonts/SegoeUIRegular/SegoeUI.svg#SegoeUI-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2666; }
@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUISemiBold/SegoeUI-SemiBold.eot");
  src: url("../fonts/SegoeUISemiBold/SegoeUI-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUISemiBold/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUISemiBold/SegoeUI-SemiBold.ttf") format("truetype"), url("../fonts/SegoeUISemiBold/SegoeUI-SemiBold.otf") format("opentype"), url("../fonts/SegoeUISemiBold/SegoeUI-SemiBold.svg#SegoeUI-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2666; }
@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUIBold/SegoeUI-Bold.eot");
  src: url("../fonts/SegoeUIBold/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBold/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUIBold/SegoeUI-Bold.ttf") format("truetype"), url("../fonts/SegoeUIBold/SegoeUI-Bold.otf") format("opentype"), url("../fonts/SegoeUIBold/SegoeUI-Bold.svg#SegoeUI-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2666; }
@font-face {
  font-family: 'PFDinTextPro';
  src: url("../fonts/PFDinTextPro-Regular/PFDinTextPro-Regular_gdi.eot");
  src: url("../fonts/PFDinTextPro-Regular/PFDinTextPro-Regular_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextPro-Regular/PFDinTextPro-Regular_gdi.woff") format("woff"), url("../fonts/PFDinTextPro-Regular/PFDinTextPro-Regular_gdi.ttf") format("truetype"), url("../fonts/PFDinTextPro-Regular/PFDinTextPro-Regular_gdi.otf") format("opentype"), url("../fonts/PFDinTextPro-Regular/PFDinTextPro-Regular_gdi.svg#PFDinTextPro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: 'PFDinTextPro';
  src: url("../fonts/PFDinTextPro-Medium/PFDinTextPro-Medium_gdi.eot");
  src: url("../fonts/PFDinTextPro-Medium/PFDinTextPro-Medium_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextPro-Medium/PFDinTextPro-Medium_gdi.woff") format("woff"), url("../fonts/PFDinTextPro-Medium/PFDinTextPro-Medium_gdi.ttf") format("truetype"), url("../fonts/PFDinTextPro-Medium/PFDinTextPro-Medium_gdi.svg#PFDinTextPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: 'PFBeauSansPro';
  src: url("../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular_gdi.eot");
  src: url("../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular_gdi.woff") format("woff"), url("../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular_gdi.ttf") format("truetype"), url("../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular_gdi.svg#PFBeauSansPro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: 'PFBeauSansPro';
  src: url("../fonts/PFBeauSansPro-SemiBold/PFBeauSansPro-SemiBold_gdi.eot");
  src: url("../fonts/PFBeauSansPro-SemiBold/PFBeauSansPro-SemiBold_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-SemiBold/PFBeauSansPro-SemiBold_gdi.woff") format("woff"), url("../fonts/PFBeauSansPro-SemiBold/PFBeauSansPro-SemiBold_gdi.ttf") format("truetype"), url("../fonts/PFBeauSansPro-SemiBold/PFBeauSansPro-SemiBold_gdi.svg#PFBeauSansPro-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }
.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }
.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "SegoeUI", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #222;
  background-color: #fff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

a {
  color: #0d80e6;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 400; }

h2,
.h2 {
  font-size: 48px;
  font-weight: 300;
  line-height: 56px;
  font-family: "PFBeauSansPro", Arial, sans-serif; }
  h2 strong,
  .h2 strong {
    font-weight: 600; }

h3 {
  color: #cf442a;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px; }

p {
  padding: 0;
  margin: 0 0 10px 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.btn-close {
  top: -70px;
  right: -70px;
  width: 57px;
  height: 57px;
  cursor: pointer;
  position: absolute;
  background: url("../img/icon-close.png") 0 0 no-repeat; }

.pt20 {
  padding-top: 20px; }

.modal {
  width: 410px;
  background: #fff;
  position: relative; }

.form-block {
  width: 410px;
  background: #fff;
  padding: 60px 50px; }
  .form-block .form-title {
    color: #cf442a;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 -20px 25px -20px; }

.fancybox-skin {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }

.btn {
  margin: 0;
  color: #464646;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  position: relative;
  padding: 13px 25px;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background-image: none;
  font-family: "PFDinTextPro", Arial, sans-serif;
  background: transparent;
  border: 2px solid #cf442a;
  touch-action: manipulation;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  border-radius: 27px; }
  .btn:hover {
    color: #fff;
    text-decoration: none;
    background-color: #cf442a; }

.btn-red {
  color: #fff;
  border-color: #df583e;
  background-color: #df583e; }
  .btn-red:hover {
    color: #fff;
    border-color: #cf442a;
    background-color: #cf442a; }

.btn-dark {
  color: #fff;
  border-color: #e7a295;
  background: transparent; }
  .btn-dark:hover {
    background-color: #272727;
    border-color: #272727; }

.btn-sm {
  font-size: 17px;
  padding-left: 18px;
  padding-right: 18px; }
  .btn-sm .icon-calc {
    padding-left: 48px;
    background-position: 20px 50%; }
  .btn-sm .icon-compare {
    padding-left: 48px;
    background-position: 20px 50%; }

.icon-sight {
  padding-left: 58px;
  background-image: url("../img/icon-sight.png");
  background-position: 24px 50%;
  background-repeat: no-repeat; }

.icon-quest {
  padding-left: 58px;
  background-image: url("../img/icon-quest.png");
  background-position: 24px 50%;
  background-repeat: no-repeat; }

.icon-calc {
  padding-left: 58px;
  background-image: url("../img/icon-calc.png");
  background-position: 24px 16px;
  background-repeat: no-repeat; }
  .icon-calc:hover {
    background-position: 24px -46px; }

.icon-compare {
  padding-left: 58px;
  background-image: url("../img/icon-compare.png");
  background-position: 24px 50%;
  background-repeat: no-repeat; }

.form-control {
  margin: 0;
  width: 100%;
  color: #888;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 300;
  padding: 18px 20px 18px 25px;
  display: inline-block;
  background: transparent;
  vertical-align: middle;
  border-bottom: 1px solid #ededed; }
  .form-control::-moz-placeholder {
    color: #888;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #888; }
  .form-control::-webkit-input-placeholder {
    color: #888; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:focus::-moz-placeholder {
    color: transparent;
    opacity: 1; }
  .form-control:focus:-ms-input-placeholder {
    color: transparent; }
  .form-control:focus::-webkit-input-placeholder {
    color: transparent; }
  .form-control.invert {
    color: #fff;
    border-color: #5b646e;
    border-bottom-color: #666; }
    .form-control.invert::-moz-placeholder {
      color: #fff;
      opacity: 1; }
    .form-control.invert:-ms-input-placeholder {
      color: #fff; }
    .form-control.invert::-webkit-input-placeholder {
      color: #fff; }
    .form-control.invert:focus::-moz-placeholder {
      color: transparent;
      opacity: 1; }
    .form-control.invert:focus:-ms-input-placeholder {
      color: transparent; }
    .form-control.invert:focus::-webkit-input-placeholder {
      color: transparent; }

.form-group {
  padding-left: 10px;
  margin-bottom: 25px; }
  .form-group.icon-user {
    background: url("../img/icon-user.png") 0 50% no-repeat; }
  .form-group.icon-tel {
    background: url("../img/icon-tel.png") 0 50% no-repeat; }
  .form-group.icon-email {
    background: url("../img/icon-email.png") 0 50% no-repeat; }
  .form-group.icon-site-gray {
    background: url("../img/icon-site-gray.png") 0 50% no-repeat; }
  .form-group.icon-user-gray {
    background: url("../img/icon-user-gray.png") 0 50% no-repeat; }
  .form-group.icon-tel-gray {
    background: url("../img/icon-tel-gray.png") 0 50% no-repeat; }

label {
  font-weight: 400;
  display: block; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hide {
  visibility: hidden;
  display: none !important; }

.show {
  visibility: visible;
  display: block !important; }

.invisible {
  visibility: hidden; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.footer {
  color: #fff;
  padding: 35px 0;
  background: #171717; }
  .footer .footer-content {
    width: 100%;
    display: table;
    padding: 0 40px; }
    .footer .footer-content li {
      display: table-cell;
      vertical-align: middle; }
      .footer .footer-content li.logo {
        width: 125px; }
      .footer .footer-content li.copy {
        color: #555;
        width: 270px;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px; }
      .footer .footer-content li.address {
        color: #a8a8a8;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px; }
      .footer .footer-content li.contact {
        width: 200px;
        text-align: right; }
        .footer .footer-content li.contact .tel {
          color: #fff;
          font-size: 22px;
          font-weight: 600;
          line-height: 24px;
          margin-bottom: 5px;
          text-decoration: none; }
        .footer .footer-content li.contact .btn-callback {
          color: #cf442a;
          font-size: 15px;
          font-weight: 300;
          line-height: 20px;
          text-decoration: none;
          border-bottom: 1px solid #5f332b; }

.b01 {
  color: #fff;
  height: 820px;
  padding-top: 30px;
  position: relative;
  background: url("../img/b01_bg.jpg") 50% 0 no-repeat; }
  .b01 .top {
    padding: 0 40px;
    margin-bottom: 110px; }
    .b01 .top .contact {
      float: right;
      width: 200px;
      text-align: right; }
      .b01 .top .contact .tel {
        color: #fff;
        font-size: 22px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 5px;
        text-decoration: none; }
      .b01 .top .contact .btn-callback {
        color: #cf442a;
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
        text-decoration: none;
        border-bottom: 1px solid #5f332b; }
  .b01 h1 {
    font-size: 72px;
    line-height: 80px;
    text-align: center;
    position: relative;
    margin-bottom: 60px;
    padding-bottom: 55px; }
    .b01 h1:before {
      left: 50%;
      bottom: 0;
      width: 36px;
      position: absolute;
      margin-left: -18px;
      border-bottom: 3px solid #fff; }
  .b01 .text {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
    margin-bottom: 30px; }
    .b01 .text strong {
      font-weight: 600; }
  .b01 .btn-down {
    left: 50%;
    color: #363636;
    width: 78px;
    height: 78px;
    z-index: 300;
    bottom: -39px;
    cursor: pointer;
    font-size: 40px;
    padding: 15px 5px;
    line-height: 48px;
    text-align: center;
    margin-left: -39px;
    position: absolute;
    background: #fff;
    display: inline-block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .b01 .btn-down:hover {
      color: #fff;
      background: #363636; }
  .b01 .btn {
    color: #fff; }

.b02 {
  height: 612px;
  color: #464646;
  padding-top: 180px;
  background: url("../img/b02_bg.jpg") 50% 0 no-repeat; }
  .b02 h2 {
    margin-bottom: 40px; }
  .b02 p {
    width: 410px;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 45px;
    text-align: justify; }

.b03 {
  color: #fff;
  height: 564px;
  text-align: center;
  padding-top: 150px;
  background: url("../img/b03_bg.jpg") 50% 0 no-repeat; }
  .b03 h2 {
    margin-bottom: 30px; }
  .b03 p {
    width: 480px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 0 auto 40px auto; }

.b04 {
  color: #464646;
  height: 1240px;
  padding-top: 145px;
  background: url("../img/b04_bg.jpg") 50% 0 no-repeat; }
  .b04 h2 {
    margin-bottom: 90px; }
  .b04 .index {
    margin-bottom: 75px; }
    .b04 .index li {
      float: left;
      padding-left: 80px;
      position: relative; }
      .b04 .index li:before {
        left: 0;
        top: 50%;
        content: '';
        height: 112px;
        margin-top: -56px;
        position: absolute;
        border-left: 1px solid #ededed; }
      .b04 .index li span {
        color: #888;
        font-size: 18px;
        line-height: 20px; }
      .b04 .index li .index-value {
        color: #464646;
        font-size: 55px;
        font-weight: 700;
        line-height: 60px;
        margin-left: -24px; }
      .b04 .index li .index-text {
        color: #464646;
        font-size: 17px;
        line-height: 23px; }
      .b04 .index li.item1 {
        width: 415px;
        margin-left: 25px; }
      .b04 .index li.item2 {
        width: 415px; }
      .b04 .index li.item3 {
        width: 325px;
        float: right; }
  .b04 .indicator {
    width: 100%;
    display: table;
    margin-bottom: 80px; }
    .b04 .indicator li {
      display: table-cell;
      vertical-align: middle; }
      .b04 .indicator li.indicator-center {
        width: 380px; }
      .b04 .indicator li.indicator-left {
        width: 400px;
        font-size: 55px;
        font-weight: 300;
        line-height: 60px;
        text-align: right;
        padding-right: 20px; }
        .b04 .indicator li.indicator-left strong {
          display: block;
          font-weight: 700;
          text-transform: uppercase; }
      .b04 .indicator li.indicator-right {
        width: 400px;
        color: #888;
        font-size: 28px;
        line-height: 30px;
        text-align: left;
        padding-left: 20px; }
        .b04 .indicator li.indicator-right strong {
          color: #ca462b;
          font-size: 55px;
          font-weight: 700;
          line-height: 60px;
          display: block;
          text-transform: uppercase; }
      .b04 .indicator li .indicator-value {
        width: 323px;
        height: 319px;
        margin: 0 auto;
        font-size: 130px;
        font-weight: 700;
        padding-top: 84px;
        line-height: 150px;
        text-align: center;
        position: relative;
        background: url("../img/b04_ring.png") 0 0 no-repeat; }
        .b04 .indicator li .indicator-value sup {
          top: 80px;
          right: 60px;
          font-size: 38px;
          font-weight: 300;
          line-height: 40px;
          position: absolute; }

.b05 {
  color: #a8a8a8;
  height: 1045px;
  padding-top: 140px;
  background: url("../img/b05_bg.jpg") 50% 0 no-repeat; }
  .b05 h2 {
    color: #fff;
    margin-bottom: 70px; }
    .b05 h2 span {
      color: #878787;
      font-size: 17px;
      padding-left: 20px;
      display: inline-block; }
  .b05 ul {
    margin: 0 60px 70px 60px; }
    .b05 ul li {
      width: 50%;
      float: left;
      padding-left: 130px; }
      .b05 ul li .item-title {
        color: #ca462b;
        font-size: 22px;
        font-weight: 600;
        line-height: 26px;
        position: relative;
        margin-bottom: 10px;
        padding-bottom: 16px; }
        .b05 ul li .item-title:before {
          left: 0;
          bottom: 0;
          content: '';
          width: 100px;
          position: absolute;
          border-bottom: 1px solid #363636; }
      .b05 ul li p {
        width: 300px;
        color: #a8a8a8;
        font-size: 18px;
        line-height: 27px; }
      .b05 ul li.item1 {
        background: url("../img/b05_item1.png") 0 0 no-repeat; }
      .b05 ul li.item2 {
        background: url("../img/b05_item2.png") 0 0 no-repeat; }
      .b05 ul li.item3 {
        background: url("../img/b05_item3.png") 0 0 no-repeat; }
      .b05 ul li.item4 {
        background: url("../img/b05_item4.png") 0 0 no-repeat; }
      .b05 ul li.item5 {
        background: url("../img/b05_item5.png") 0 0 no-repeat; }

.b06 {
  color: #464646;
  height: 1035px;
  padding-top: 135px;
  background: url("../img/b06_bg.jpg") 50% 0 no-repeat; }
  .b06 h2 {
    margin-bottom: 90px; }
  .b06 .technology {
    margin: -10px; }
    .b06 .technology li {
      float: left;
      width: 33.33%;
      padding: 0 10px; }
    .b06 .technology .technology-inner {
      height: 550px;
      background: #fff;
      position: relative;
      cursor: pointer;
      padding: 0 35px 75px 35px;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07); }
      .b06 .technology .technology-inner .technology-more {
        left: 35px;
        bottom: 46px;
        color: #ca462b;
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        position: absolute;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid transparent; }
      .b06 .technology .technology-inner:hover .technology-more {
        border-bottom-color: #ca462b; }
    .b06 .technology .technology-image {
      overflow: hidden;
      margin: 0 -35px 45px -35px; }
    .b06 .technology .technology-title {
      font-size: 24px;
      min-height: 60px;
      font-weight: 600;
      line-height: 30px;
      margin-bottom: 20px; }
    .b06 .technology .technology-text {
      color: #888;
      height: 130px;
      font-size: 18px;
      line-height: 26px;
      overflow: hidden; }

.b07 {
  color: #fff;
  height: 626px;
  padding-top: 150px;
  background: url("../img/b07_bg.jpg") 50% 0 no-repeat; }
  .b07 h2 {
    text-align: center;
    margin-bottom: 30px; }
  .b07 p {
    width: 490px;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto 40px auto; }

.b08 {
  color: #464646;
  height: 3054px;
  padding-top: 140px;
  background: url("../img/b08_bg.png") 50% 0 no-repeat; }
  .b08 .h2 {
    margin-bottom: 25px; }
  .b08 .case {
    margin-bottom: 90px; }
    .b08 .case .case-name {
      color: #888;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 70px; }
    .b08 .case .case-time-line {
      width: 1180px;
      height: 90px;
      position: relative;
      margin-bottom: 35px;
      background: url("../img/b08_line.png") 50% 100% no-repeat; }
      .b08 .case .case-time-line span {
        top: 0;
        left: 50%;
        width: 200px;
        color: #464646;
        font-size: 16px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
        position: absolute;
        margin-left: -100px;
        display: inline-block; }
        .b08 .case .case-time-line span strong {
          font-size: 30px;
          font-weight: 700; }
    .b08 .case .case-body {
      width: 100%;
      display: table;
      text-align: center;
      position: relative; }
    .b08 .case .case-left {
      width: 240px;
      display: table-cell;
      vertical-align: top; }
    .b08 .case .case-right {
      width: 240px;
      position: relative;
      display: table-cell;
      vertical-align: top; }
      .b08 .case .case-right .btn {
        left: 0;
        bottom: 40px;
        position: absolute; }
    .b08 .case .case-center {
      padding-top: 15px;
      display: table-cell;
      vertical-align: top;
      position: relative; }
      .b08 .case .case-center img {
        display: inline-block;
        max-width: 100%;
        height: auto; }
      .b08 .case .case-center .case-text {
        left: 0;
        right: 0;
        top: 140px;
        color: #fff;
        text-align: center;
        position: absolute; }
        .b08 .case .case-center .case-text.case-center-padding {
          padding-left: 30px; }
        .b08 .case .case-center .case-text .case-text-value {
          font-size: 48px;
          font-weight: 700;
          line-height: 50px; }
          .b08 .case .case-center .case-text .case-text-value span {
            font-size: 24px;
            font-weight: 600; }
          .b08 .case .case-center .case-text .case-text-value i {
            font-weight: 300;
            font-style: normal; }
        .b08 .case .case-center .case-text .case-text-legend {
          font-size: 16px;
          font-weight: 300;
          line-height: 18px;
          margin-bottom: 35px; }
        .b08 .case .case-center .case-text .case-text-link {
          width: 42px;
          height: 42px;
          color: #fff;
          outline: none;
          padding: 5px 0;
          font-size: 20px;
          line-height: 30px;
          text-align: center;
          display: inline-block;
          text-decoration: none;
          border: 1px solid #fff;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
          .b08 .case .case-center .case-text .case-text-link:hover {
            color: #000;
            background: #fff; }
    .b08 .case .case-index {
      position: relative;
      padding-bottom: 50px; }
      .b08 .case .case-index:before {
        left: 50%;
        content: '';
        bottom: 17px;
        height: 20px;
        position: absolute;
        border-left: 1px solid #efc9c0; }
      .b08 .case .case-index:last-child:before {
        display: none; }
      .b08 .case .case-index .case-index-name {
        color: #888;
        font-size: 17px;
        line-height: 23px; }
      .b08 .case .case-index .case-index-value {
        color: #666;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px; }

.b09 {
  color: #fff;
  height: 626px;
  padding-top: 150px;
  background: url("../img/b09_bg.jpg") 50% 0 no-repeat; }
  .b09 h2 {
    text-align: center;
    margin-bottom: 30px; }
  .b09 p {
    width: 490px;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto 40px auto; }

.b10 {
  color: #fff;
  height: 1088px;
  padding-top: 140px;
  background: url("../img/b10_bg.jpg") 50% 0 no-repeat; }
  .b10 h2 {
    text-align: center;
    margin-bottom: 5px; }
  .b10 .cooperation {
    position: relative; }
    .b10 .cooperation .cooperation-slider {
      z-index: 100;
      position: relative; }
    .b10 .cooperation .cooperation-item {
      border: none;
      outline: none; }
    .b10 .cooperation .cooperation-name {
      font-size: 34px;
      font-weight: 300;
      line-height: 40px;
      text-align: center;
      margin-bottom: 90px; }
    .b10 .cooperation .cooperation-timeline {
      margin-bottom: 30px;
      background: url("../img/b10_timeline.png") 50% 40px no-repeat; }
      .b10 .cooperation .cooperation-timeline li {
        float: left;
        width: 33.33%;
        text-align: center; }
        .b10 .cooperation .cooperation-timeline li.item1 .cooperation-date {
          color: #723b2f; }
        .b10 .cooperation .cooperation-timeline li.item2 .cooperation-date {
          color: #8e3d2e; }
        .b10 .cooperation .cooperation-timeline li.item3 .cooperation-date {
          color: #cf442a; }
      .b10 .cooperation .cooperation-timeline .cooperation-date {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 70px; }
      .b10 .cooperation .cooperation-timeline .cooperation-step {
        font-size: 18px;
        font-weight: 300;
        line-height: 27px; }
        .b10 .cooperation .cooperation-timeline .cooperation-step span {
          color: #888;
          font-size: 16px;
          display: block; }
    .b10 .cooperation .cooperation-project {
      margin: 0 -10px; }
      .b10 .cooperation .cooperation-project li {
        float: left;
        width: 33.33%;
        padding: 0 10px; }
      .b10 .cooperation .cooperation-project .cooperation-project-inner {
        color: #888;
        font-size: 16px;
        line-height: 26px;
        position: relative;
        background: #282828;
        padding: 0 35px 30px 35px; }
      .b10 .cooperation .cooperation-project .cooperation-image {
        overflow: hidden;
        margin: 0 -35px 40px -35px; }
      .b10 .cooperation .cooperation-project .cooperation-project-title {
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        margin: 0 -25px 25px -25px; }
    .b10 .cooperation .cooperation-nav {
      top: 15px;
      left: 0;
      right: 0;
      z-index: 5000;
      color: #a8a8a8;
      cursor: pointer;
      font-size: 17px;
      line-height: 20px;
      position: absolute;
      display: inline-block; }
      .b10 .cooperation .cooperation-nav li {
        float: left;
        width: 50%; }
        .b10 .cooperation .cooperation-nav li:first-child {
          text-align: right;
          padding-right: 250px; }
        .b10 .cooperation .cooperation-nav li:last-child {
          text-align: left;
          padding-left: 250px; }
      .b10 .cooperation .cooperation-nav .nav {
        color: #a8a8a8; }
        .b10 .cooperation .cooperation-nav .nav span {
          display: inline-block;
          padding-bottom: 3px;
          border-bottom: 1px solid #a8a8a8; }
        .b10 .cooperation .cooperation-nav .nav:hover {
          color: #cf442a; }
          .b10 .cooperation .cooperation-nav .nav:hover span {
            border-bottom-color: #cf442a; }

.b11 {
  padding-top: 140px;
  background: url("../img/b11_bg.jpg") 50% 0 no-repeat; }
  .b11 h2 {
    color: #fff;
    margin-bottom: 85px; }
  .b11 .portfolio-elite {
    color: #fff;
    margin-bottom: 140px; }
    .b11 .portfolio-elite .portfolio-title {
      color: #fff;
      font-size: 30px;
      font-weight: 300;
      line-height: 30px;
      text-align: right;
      margin-bottom: 10px; }
    .b11 .portfolio-elite ul {
      margin: 0 2px; }
    .b11 .portfolio-elite li {
      float: left;
      width: 33.33%;
      position: relative; }
      .b11 .portfolio-elite li .hover {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        display: block;
        text-align: center;
        padding-top: 120px;
        position: absolute;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        background-image: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
        background-image: radial-gradient(circle, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
        background-repeat: no-repeat; }
        .b11 .portfolio-elite li .hover .hover-title {
          color: #fff;
          font-size: 30px;
          font-weight: 700;
          line-height: 30px;
          position: relative;
          margin-bottom: 15px;
          padding-bottom: 10px; }
          .b11 .portfolio-elite li .hover .hover-title:before {
            left: 50%;
            bottom: 0;
            width: 20px;
            content: '';
            margin-left: -10px;
            position: absolute;
            border-bottom: 1px solid #cf442a; }
        .b11 .portfolio-elite li .hover .hover-text {
          color: #fff;
          height: 100px;
          font-size: 18px;
          overflow: hidden;
          line-height: 24px;
          position: relative; }
      .b11 .portfolio-elite li:hover .hover {
        opacity: 1;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
  .b11 .portfolio {
    margin: 0 15px; }
    .b11 .portfolio .portfolio-title {
      color: #464646;
      font-size: 30px;
      font-weight: 300;
      line-height: 30px;
      text-align: right;
      margin-bottom: 10px; }
    .b11 .portfolio .portfolio-filter li {
      float: left;
      margin-right: 35px; }
      .b11 .portfolio .portfolio-filter li span {
        cursor: pointer;
        color: #a8a8a8;
        font-size: 17px;
        line-height: 21px;
        display: inline-block;
        border-bottom: 1px solid #a8a8a8; }
        .b11 .portfolio .portfolio-filter li span.active {
          color: #cf442a;
          border-bottom-color: #cf442a; }
  .b11 .portfolio-list .portfolio-item {
    float: left;
    display: none;
    position: relative; }
    .b11 .portfolio-list .portfolio-item .hover {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      display: block;
      text-align: center;
      padding-top: 40px;
      position: absolute;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      background-image: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
      background-image: radial-gradient(circle, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
      background-repeat: no-repeat; }
    .b11 .portfolio-list .portfolio-item .hover-text {
      color: #fff;
      font-size: 20px;
      line-height: 24px;
      position: relative;
      margin-bottom: 20px;
      padding-bottom: 16px; }
      .b11 .portfolio-list .portfolio-item .hover-text:before {
        left: 50%;
        bottom: 0;
        width: 20px;
        content: '';
        margin-left: -10px;
        position: absolute;
        border-bottom: 1px solid #cf442a; }
    .b11 .portfolio-list .portfolio-item:hover .hover {
      opacity: 1;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }

.adaptive {
  width: 100%;
  min-width: 1180px;
  margin: 0 auto; }
  .adaptive .portfolio-item {
    float: left;
    width: 25%;
    position: relative; }
  @media (min-width: 1230px) {
    .adaptive {
      width: 100%;
      padding: 0; }
      .adaptive .portfolio-item {
        width: 25%; } }
  @media (min-width: 1600px) {
    .adaptive .portfolio-item {
      width: 20%; } }

.b12 {
  color: #a8a8a8;
  height: 764px;
  padding-top: 140px;
  background: url("../img/b12_bg.jpg") 50% 0 no-repeat; }
  .b12 h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px; }
  .b12 p {
    width: 900px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin: 0 auto 60px auto; }
  .b12 .form-box ul {
    width: 960px;
    margin: 0 auto 35px auto; }
    .b12 .form-box ul li {
      float: left;
      width: 33.33%;
      padding: 0 30px; }
  .b12 .form-box .btn {
    color: #fff; }

.b13 {
  color: #464646;
  height: 755px;
  padding-top: 140px;
  text-align: center;
  background: url("../img/b13_bg.png") 50% 0 no-repeat; }
  .b13 h2 {
    margin-bottom: 90px; }
  .b13 .payment {
    width: 100%;
    display: table;
    margin-bottom: 80px; }
    .b13 .payment li {
      display: table-cell;
      vertical-align: middle; }
      .b13 .payment li.payment-center {
        width: 380px; }
      .b13 .payment li.payment-left {
        width: 400px;
        font-size: 70px;
        font-weight: 300;
        line-height: 72px;
        text-align: right;
        padding-right: 60px; }
        .b13 .payment li.payment-left strong {
          display: block;
          font-weight: 700;
          text-transform: uppercase; }
      .b13 .payment li.payment-right {
        width: 400px;
        color: #888;
        font-size: 30px;
        line-height: 30px;
        text-align: left;
        padding-left: 60px; }
        .b13 .payment li.payment-right strong {
          color: #ca462b;
          font-size: 70px;
          font-weight: 700;
          line-height: 70px;
          display: block;
          text-transform: uppercase; }
      .b13 .payment li .payment-value {
        width: 319px;
        height: 319px;
        margin: 0 auto;
        font-size: 130px;
        font-weight: 700;
        padding-top: 84px;
        line-height: 150px;
        text-align: center;
        position: relative;
        background: url("../img/b13_item.png") 0 0 no-repeat; }
        .b13 .payment li .payment-value sup {
          top: 80px;
          right: 60px;
          font-size: 38px;
          font-weight: 300;
          line-height: 40px;
          position: absolute; }

.b14 {
  color: #fff;
  height: 626px;
  padding-top: 150px;
  background: url("../img/b14_bg.jpg") 50% 0 no-repeat; }
  .b14 h2 {
    text-align: center;
    margin-bottom: 30px; }
  .b14 p {
    width: 490px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto 40px auto; }

.b15 {
  color: #464646;
  height: 990px;
  padding-top: 150px;
  background: url("../img/b15_bg.jpg") 50% 0 no-repeat; }
  .b15 h2 {
    margin-bottom: 5px; }
  .b15 .subtitle {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 90px; }
  .b15 li {
    width: 50%;
    float: left;
    color: #666;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    position: relative;
    text-align: center;
    margin-bottom: 65px;
    padding: 0 80px 0 220px; }
    .b15 li .item-inner {
      position: relative;
      padding-top: 120px;
      padding-bottom: 30px; }
      .b15 li .item-inner:before {
        left: 50%;
        bottom: 0;
        width: 24px;
        content: '';
        position: absolute;
        margin-left: -12px;
        border-bottom: 3px solid #ededed; }
    .b15 li strong {
      font-weight: 600; }
    .b15 li.item1 .item-inner {
      background: url("../img/b15_item1.png") 50% 0 no-repeat; }
    .b15 li.item2 .item-inner {
      background: url("../img/b15_item2.png") 50% 0 no-repeat; }
    .b15 li.item3 .item-inner {
      background: url("../img/b15_item3.png") 50% 0 no-repeat; }
    .b15 li.item4 .item-inner {
      background: url("../img/b15_item4.png") 50% 0 no-repeat; }

.b16 {
  color: #fff;
  height: 1230px;
  padding-top: 150px;
  background: url("../img/b16_bg.jpg") 50% 0 no-repeat; }
  .b16 h2 {
    margin-bottom: 90px; }
  .b16 .text {
    width: 430px;
    font-size: 22px;
    font-weight: 300;
    line-height: 34px;
    margin-left: 160px;
    margin-bottom: 75px; }
  .b16 .project {
    margin-left: 160px;
    margin-bottom: 70px; }
    .b16 .project .project-title {
      color: #cf442a;
      font-size: 30px;
      font-weight: 300;
      line-height: 30px;
      margin-bottom: 10px;
      text-align: right; }
    .b16 .project li {
      float: left;
      width: 33.33%;
      position: relative; }
      .b16 .project li .hover {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        display: block;
        text-align: center;
        padding-top: 65px;
        position: absolute;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        background-image: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
        background-image: radial-gradient(circle, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
        background-repeat: no-repeat; }
      .b16 .project li:hover .hover {
        opacity: 1;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }

.b17 {
  color: #fff;
  height: 722px;
  padding-top: 150px;
  background: url("../img/b17_bg.jpg") 50% 0 no-repeat; }
  .b17 h2 {
    font-size: 55px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    margin-bottom: 70px; }
  .b17 .form-box {
    width: 584px;
    margin: 0 auto 80px auto; }
    .b17 .form-box li {
      float: left;
      width: 50%;
      padding: 0 22px; }
    .b17 .form-box .btn {
      color: #fff; }
  .b17 .text {
    width: 700px;
    color: #989898;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 300;
    min-height: 70px;
    line-height: 27px;
    padding-left: 50px;
    background: url("../img/icon-alert.png") 0 50% no-repeat; }

.b18 {
  color: #464646;
  padding-top: 130px;
  padding-bottom: 90px;
  background: url("../img/b18_bg.jpg") 50% 100% no-repeat; }
  .b18 h2 {
    margin-bottom: 75px; }
  .b18 h3 {
    margin-bottom: 80px; }
  .b18 .web {
    width: 100%;
    display: table; }
    .b18 .web li {
      display: table-cell; }
      .b18 .web li.item1 {
        width: 275px;
        position: relative;
        text-align: center;
        vertical-align: middle; }
        .b18 .web li.item1:before {
          top: 50%;
          right: 37px;
          width: 34px;
          content: '';
          position: absolute;
          border-bottom: 1px solid #ededed; }
      .b18 .web li.item2 {
        width: 220px;
        color: #464646;
        padding: 40px 0;
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
        vertical-align: middle;
        border-bottom: 1px solid #ededed; }
      .b18 .web li.item3 {
        padding: 40px 0;
        color: #888;
        font-size: 18px;
        font-weight: 400;
        line-height: 29px;
        vertical-align: middle;
        border-bottom: 1px solid #ededed; }
      .b18 .web li.item4 {
        width: 60px;
        position: relative;
        text-align: center;
        vertical-align: middle; }
    .b18 .web.last {
      margin-bottom: 60px; }
      .b18 .web.last .item2,
      .b18 .web.last .item3 {
        border-bottom-color: transparent; }

.b19 {
  height: 686px;
  color: #464646;
  padding-top: 90px;
  background: url("../img/b19_bg.png") 50% 0 no-repeat; }
  .b19 h3 {
    margin-bottom: 50px; }
  .b19 .web {
    width: 900px;
    display: table;
    margin: 0 auto; }
    .b19 .web li {
      display: table-cell; }
      .b19 .web li.item1 {
        width: 260px;
        position: relative;
        text-align: center;
        vertical-align: middle; }
      .b19 .web li.item2 {
        width: 240px;
        color: #464646;
        padding: 40px 0;
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
        vertical-align: middle;
        border-bottom: 1px solid #ededed; }
      .b19 .web li.item3 {
        padding: 40px 0;
        color: #888;
        font-size: 18px;
        font-weight: 400;
        line-height: 29px;
        vertical-align: middle;
        border-bottom: 1px solid #ededed; }
    .b19 .web.last .item2,
    .b19 .web.last .item3 {
      border-bottom-color: transparent; }

.b20 {
  color: #fff;
  height: 850px;
  position: relative;
  background: url("../img/b20_bg.jpg") 50% 0 no-repeat; }
  .b20 .content {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    position: absolute; }
  .b20 .container {
    height: 100%;
    padding-top: 140px; }
  .b20 h2 {
    font-size: 55px;
    line-height: 64px;
    margin-bottom: 30px; }
  .b20 .text {
    width: 440px;
    color: #a8a8a8;
    font-size: 19px;
    font-weight: 300;
    line-height: 32px; }
  .b20 .btn-play {
    top: 50%;
    left: 50%;
    color: #fff;
    outline: none;
    width: 150px;
    height: 150px;
    font-size: 50px;
    line-height: 54px;
    cursor: pointer;
    padding: 45px 0 45px 8px;
    text-align: center;
    margin-top: -40px;
    margin-left: -75px;
    position: absolute;
    text-decoration: none;
    display: inline-block;
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #cf442a; }
    .b20 .btn-play:hover {
      background: #cf442a; }
  .b20 .video-inner {
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    position: relative; }
    .b20 .video-inner video {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto; }
    .b20 .video-inner:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 4;
      content: ' ';
      position: absolute;
      background: rgba(0, 0, 0, 0.8); }

.b21 {
  height: 780px;
  color: #464646;
  background: #fff;
  padding-top: 100px; }
  .b21 h2 {
    padding-top: 40px;
    margin-bottom: 25px; }
  .b21 .text {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 165px; }
  .b21 .btn-rotate {
    color: #a8a8a8;
    font-size: 16px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    padding: 6px 0 6px 60px;
    background: url("../img/b21_icon.png") 0 100% no-repeat; }
  .b21 .object {
    top: 0;
    right: 100px;
    position: absolute; }

.b22 {
  color: #fff;
  height: 800px;
  padding-top: 140px;
  background: url("../img/b22_bg.jpg") 50% 0 no-repeat; }
  .b22 h2 {
    font-size: 55px;
    font-weight: 600;
    line-height: 65px;
    margin-bottom: 50px; }
    .b22 h2 strong {
      display: block;
      font-size: 60px;
      font-weight: 700;
      text-transform: uppercase; }
  .b22 .list {
    width: 380px;
    counter-reset: li;
    list-style: none; }
    .b22 .list li {
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
      padding-top: 15px;
      padding-left: 45px;
      margin-bottom: 30px;
      position: relative; }
      .b22 .list li:before {
        top: 0;
        left: 0;
        color: #fff;
        font-size: 48px;
        font-weight: 700;
        line-height: 50px;
        position: absolute;
        content: counter(li);
        counter-increment: li; }
      .b22 .list li:after {
        color: #fff;
        top: 0px;
        left: 28px;
        content: '.';
        font-size: 48px;
        line-height: 50px;
        position: absolute; }
      .b22 .list li span {
        color: #efc0c0;
        display: block;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px; }
  .b22 .text-block {
    float: left;
    width: 590px;
    padding-left: 110px; }
  .b22 .form-block {
    float: right;
    margin-right: 110px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=main.css.map */
