* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h2,
.h2 {
	font-size: 48px;
	font-weight: 300;
	line-height: 56px;
	font-family: $font-beus;

	strong {
		font-weight: 600;
	}
}

h3 {
	color: #cf442a;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.btn-close {
	top: -70px;
	right: -70px;
	width: 57px;
	height: 57px;
	cursor: pointer;
	position: absolute;
	background: url("../img/icon-close.png") 0 0 no-repeat;
}


.pt20 {
	padding-top: 20px;
}

.modal {
	width: 410px;
	background: #fff;
	position: relative;
}

.form-block {
	width: 410px;
	background: #fff;
	padding: 60px 50px;

	.form-title {
		color: #cf442a;
		font-size: 32px;
		font-weight: 700;
		line-height: 36px;
		text-align: center;
		text-transform: uppercase;
		margin: 0 -20px 25px -20px;
	}
}

.fancybox-skin {
	@include border-radius(0px);
}