.b08 {
    color: #464646;
    height: 3054px;
    padding-top: 140px;
    background: url("../img/b08_bg.png") 50% 0 no-repeat;

    .h2 {
        margin-bottom: 25px;
    }

    .case {
        margin-bottom: 90px;

        .case-name {
            color: #888;
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 70px;
        }

        .case-time-line {
            width: 1180px;
            height: 90px;
            position: relative;
            margin-bottom: 35px;
            background: url("../img/b08_line.png") 50% 100% no-repeat;

            span {
                top: 0;
                left: 50%;
                width: 200px;
                color: #464646;
                font-size: 16px;
                font-weight: 600;
                line-height: 30px;
                text-align: center;
                position: absolute;
                margin-left: -100px;
                display: inline-block;

                strong {
                    font-size: 30px;
                    font-weight: 700;
                }
            }
        }

        .case-body {
            width: 100%;
            display: table;
            text-align: center;
            position: relative;
        }

        .case-left {
            width: 240px;
            display: table-cell;
            vertical-align: top;
        }

        .case-right {
            width: 240px;
            position: relative;
            display: table-cell;
            vertical-align: top;

            .btn {
                left: 0;
                bottom: 40px;
                position: absolute;
            }
        }

        .case-center {
            padding-top: 15px;
            display: table-cell;
            vertical-align: top;
            position: relative;

            img {
                @include img-responsive(inline-block);
            }

            .case-text {
                left: 0;
                right: 0;
                top: 140px;
                color: #fff;
                text-align: center;
                position: absolute;

                &.case-center-padding {
                    padding-left: 30px;
                }

                .case-text-value {
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 50px;

                    span {
                        font-size: 24px;
                        font-weight: 600;
                    }

                    i {
                        font-weight: 300;
                        font-style: normal;
                    }
                }

                .case-text-legend {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 18px;
                    margin-bottom: 35px;
                }

                .case-text-link {
                    width: 42px;
                    height: 42px;
                    color: #fff;
                    outline: none;
                    padding: 5px 0;
                    font-size: 20px;
                    line-height: 30px;
                    text-align: center;
                    display: inline-block;
                    text-decoration: none;
                    border: 1px solid #fff;
                    @include border-radius(50%);

                    &:hover {
                        color: #000;
                        background: #fff;
                    }
                }

            }
        }

        .case-index {
            position: relative;
            padding-bottom: 50px;

            &:before {
                left: 50%;
                content: '';
                bottom: 17px;
                height: 20px;
                position: absolute;
                border-left: 1px solid #efc9c0;
            }

            &:last-child {

                &:before {
                    display: none;
                }
            }

            .case-index-name {
                color: #888;
                font-size: 17px;
                line-height: 23px;
            }

            .case-index-value {
                color: #666;
                font-size: 24px;
                font-weight: 700;
                line-height: 30px;
            }
        }
    }
}