.b10 {
    color: #fff;
    height: 1088px;
    padding-top: 140px;
    background: url("../img/b10_bg.jpg") 50% 0 no-repeat;

    h2 {
        text-align: center;
        margin-bottom: 5px;
    }

    .cooperation {
        position: relative;

        .cooperation-slider {
            z-index: 100;
            position: relative;
        }

        .cooperation-item {
            border: none;
            outline: none;
        }

        .cooperation-name {
            font-size: 34px;
            font-weight: 300;
            line-height: 40px;
            text-align: center;
            margin-bottom: 90px;
        }

        .cooperation-timeline {
            margin-bottom: 30px;
            background: url("../img/b10_timeline.png") 50% 40px no-repeat;

            li {
                float: left;
                width: 33.33%;
                text-align: center;

                &.item1 {

                    .cooperation-date {
                        color: #723b2f;
                    }
                }

                &.item2 {

                    .cooperation-date {
                        color: #8e3d2e;
                    }
                }

                &.item3 {

                    .cooperation-date {
                        color: #cf442a;
                    }
                }
            }

            .cooperation-date {
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                margin-bottom: 70px;
            }

            .cooperation-step {
                font-size: 18px;
                font-weight: 300;
                line-height: 27px;

                span {
                    color: #888;
                    font-size: 16px;
                    display: block;
                }
            }
        }

        .cooperation-project {
            margin: 0 -10px;

            li {
                float: left;
                width: 33.33%;
                padding: 0 10px;
            }

            .cooperation-project-inner {
                color: #888;
                font-size: 16px;
                line-height: 26px;
                position: relative;
                background: #282828;
                padding: 0 35px 30px 35px;
            }

            .cooperation-image {
                overflow: hidden;
                margin: 0 -35px 40px -35px;
            }

            .cooperation-project-title {
                color: #fff;
                font-size: 24px;
                font-weight: 700;
                line-height: 30px;
                text-align: center;
                margin: 0 -25px 25px -25px;
            }
        }

        .cooperation-nav {
            top: 15px;
            left: 0;
            right: 0;
            z-index: 5000;
            color: #a8a8a8;
            cursor: pointer;
            font-size: 17px;
            line-height: 20px;
            position: absolute;
            display: inline-block;

            li {
                float: left;
                width: 50%;

                &:first-child {
                    text-align: right;
                    padding-right: 250px;
                }

                &:last-child {
                    text-align: left;
                    padding-left: 250px;
                }
            }


            .nav {
                color: #a8a8a8;

                span {
                    display: inline-block;
                    padding-bottom: 3px;
                    border-bottom: 1px solid #a8a8a8;
                }


                &:hover {
                    color: #cf442a;

                    span {
                        border-bottom-color: #cf442a;
                    }
                }
            }
        }
    }
}

