.b15 {
    color: #464646;
    height: 990px;
    padding-top: 150px;
    background: url("../img/b15_bg.jpg") 50% 0 no-repeat;

    h2 {
        margin-bottom: 5px;
    }

    .subtitle {
        font-size: 24px;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 90px;
    }

    ul {

    }

    li {
        width: 50%;
        float: left;
        color: #666;
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        position: relative;
        text-align: center;
        margin-bottom: 65px;
        padding: 0 80px 0 220px;

        .item-inner {
            position: relative;
            padding-top: 120px;
            padding-bottom: 30px;

            &:before {
                left: 50%;
                bottom: 0;
                width: 24px;
                content: '';
                position: absolute;
                margin-left: -12px;
                border-bottom: 3px solid #ededed;
            }
        }

        strong {
            font-weight: 600;
        }

        &.item1 {

            .item-inner {
                background: url("../img/b15_item1.png") 50% 0 no-repeat;
            }
        }

        &.item2 {

            .item-inner {
                background: url("../img/b15_item2.png") 50% 0 no-repeat;
            }
        }

        &.item3 {

            .item-inner {
                background: url("../img/b15_item3.png") 50% 0 no-repeat;
            }
        }

        &.item4 {

            .item-inner {
                background: url("../img/b15_item4.png") 50% 0 no-repeat;
            }
        }
    }
}