.b22 {
    color: #fff;
    height: 800px;
    padding-top: 140px;
    background: url("../img/b22_bg.jpg") 50% 0 no-repeat;

    h2 {
        font-size: 55px;
        font-weight: 600;
        line-height: 65px;
        margin-bottom: 50px;

        strong {
            display: block;
            font-size: 60px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .list {
        width: 380px;
        counter-reset:li;
        list-style:none;

        li {
            font-size: 20px;
            font-weight: 300;
            line-height: 30px;
            padding-top: 15px;
            padding-left: 45px;
            margin-bottom: 30px;
            position: relative;

            &:before {
                top: 0;
                left: 0;
                color: #fff;
                font-size: 48px;
                font-weight: 700;
                line-height: 50px;
                position: absolute;
                content:counter(li);
                counter-increment:li;
            }

            &:after {
                color: #fff;
                top: 0px;
                left: 28px;
                content: '.';
                font-size: 48px;
                line-height: 50px;
                position: absolute;
            }

            span {
                color: #efc0c0;
                display: block;
                font-size: 14px;
                font-weight: 300;
                line-height: 20px;
            }
        }
    }

    .text-block {
        float: left;
        width: 590px;
        padding-left: 110px;
    }

    .form-block {
        float: right;
        margin-right: 110px;
        @include box-shadow(0px 0px 15px 0px rgba(0, 0, 0, 0.5));
    }
}