.b01 {
    color: #fff;
    height: 820px;
    padding-top: 30px;
    position: relative;
    background: url("../img/b01_bg.jpg") 50% 0 no-repeat;

    .top {
        padding: 0 40px;
        margin-bottom: 110px;

        .contact {
            float: right;
            width: 200px;
            text-align: right;

            .tel {
                color: #fff;
                font-size: 22px;
                font-weight: 600;
                line-height: 24px;
                margin-bottom: 5px;
                text-decoration: none;
            }

            .btn-callback {
                color: #cf442a;
                font-size: 15px;
                font-weight: 300;
                line-height: 20px;
                text-decoration: none;
                border-bottom: 1px solid #5f332b;
            }
        }
    }

    h1 {
        font-size: 72px;
        line-height: 80px;
        text-align: center;
        position: relative;
        margin-bottom: 60px;
        padding-bottom: 55px;

        &:before{
            left: 50%;
            bottom: 0;
            width: 36px;
            position: absolute;
            margin-left: -18px;
            border-bottom: 3px solid #fff;
        }
    }

    .text {
        font-size: 24px;
        font-weight: 300;
        line-height: 36px;
        text-align: center;
        margin-bottom: 30px;

        strong {
            font-weight: 600;
        }
    }

    .btn-down {
        left: 50%;
        color: #363636;
        width: 78px;
        height: 78px;
        z-index: 300;
        bottom: -39px;
        cursor: pointer;
        font-size: 40px;
        padding: 15px 5px;
        line-height: 48px;
        text-align: center;
        margin-left: -39px;
        position: absolute;
        background: #fff;
        display: inline-block;
        @include transition(.3s);
        @include border-radius(50%);

        &:hover {
            color: #fff;
            background: #363636;
        }
    }

    .btn {
        color: #fff;
    }
}
