.b07 {
    color: #fff;
    height: 626px;
    padding-top: 150px;
    background: url("../img/b07_bg.jpg") 50% 0 no-repeat;

    h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    p {
        width: 490px;
        font-size: 18px;
        line-height: 30px;
        margin: 0 auto 40px auto;
    }
}