.b12 {
    color: #a8a8a8;
    height: 764px;
    padding-top: 140px;
    background: url("../img/b12_bg.jpg") 50% 0 no-repeat;

    h2 {
        color: #fff;
        text-align: center;
        margin-bottom: 30px;

    }

    p {
        width: 900px;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        margin: 0 auto 60px auto;
    }

    .form-box {

        ul {
            width: 960px;
            margin: 0 auto 35px auto;

            li {
                float: left;
                width: 33.33%;
                padding: 0 30px;
            }
        }

        .btn {
            color: #fff;
        }
    }
}