.b21 {
    height: 780px;
    color: #464646;
    background: #fff;
    padding-top: 100px;

    h2 {
        padding-top: 40px;
        margin-bottom: 25px;
    }

    .text {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 165px;
    }

    .btn-rotate {
        color: #a8a8a8;
        font-size: 16px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        vertical-align: middle;
        padding: 6px 0 6px 60px;
        background: url("../img/b21_icon.png") 0 100% no-repeat;
    }

    .object{
        top: 0;
        right: 100px;
        position: absolute;
    }
}