.b02 {
    height: 612px;
    color: #464646;
    padding-top: 180px;
    background: url("../img/b02_bg.jpg") 50% 0 no-repeat;

    h2 {
        margin-bottom: 40px;
    }

    p {
        width: 410px;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 45px;
        text-align: justify;
    }
}