.b04 {
    color: #464646;
    height: 1240px;
    padding-top: 145px;
    background: url("../img/b04_bg.jpg") 50% 0 no-repeat;

    h2 {
        margin-bottom: 90px;
    }

    .index {
        margin-bottom: 75px;

        li {
            float: left;
            padding-left: 80px;
            position: relative;

            &:before {
                left: 0;
                top: 50%;
                content: '';
                height: 112px;
                margin-top: -56px;
                position: absolute;
                border-left: 1px solid #ededed;
            }

            span {
                color: #888;
                font-size: 18px;
                line-height: 20px;
            }

            .index-value {
                color: #464646;
                font-size: 55px;
                font-weight: 700;
                line-height: 60px;
                margin-left: -24px;
            }

            .index-text {
                color: #464646;
                font-size: 17px;
                line-height: 23px;
            }

            &.item1 {
                width: 415px;
                margin-left: 25px;
            }

            &.item2 {
                width: 415px;
            }


            &.item3 {
                width: 325px;
                float: right;
            }
        }
    }

    .indicator {
        width: 100%;
        display: table;
        margin-bottom: 80px;

        li {
            display: table-cell;
            vertical-align: middle;

            &.indicator-center {
                width: 380px;
            }

            &.indicator-left {
                width: 400px;
                font-size: 55px;
                font-weight: 300;
                line-height: 60px;
                text-align: right;
                padding-right: 20px;

                strong {
                    display: block;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }


            &.indicator-right {
                width: 400px;
                color: #888;
                font-size: 28px;
                line-height: 30px;
                text-align: left;
                padding-left: 20px;

                strong {
                    color: #ca462b;
                    font-size: 55px;
                    font-weight: 700;
                    line-height: 60px;
                    display: block;
                    text-transform: uppercase;
                }
            }



            .indicator-value {
                width: 323px;
                height: 319px;
                margin: 0 auto;
                font-size: 130px;
                font-weight: 700;
                padding-top: 84px;
                line-height: 150px;
                text-align: center;
                position: relative;
                background: url("../img/b04_ring.png") 0 0 no-repeat;

                sup {
                    top: 80px;
                    right: 60px;
                    font-size: 38px;
                    font-weight: 300;
                    line-height: 40px;
                    position: absolute;
                }
            }
        }
    }
}