.b19 {
    height: 686px;
    color: #464646;
    padding-top: 90px;
    background: url("../img/b19_bg.png") 50% 0 no-repeat;

    h3 {
        margin-bottom: 50px;
    }

    .web {
        width: 900px;
        display: table;
        margin: 0 auto;

        li {
            display: table-cell;

            &.item1 {
                width: 260px;
                position: relative;
                text-align: center;
                vertical-align: middle;
            }


            &.item2 {
                width: 240px;
                color: #464646;
                padding: 40px 0;
                font-size: 24px;
                font-weight: 300;
                line-height: 32px;
                vertical-align: middle;
                border-bottom: 1px solid #ededed;
            }

            &.item3 {
                padding: 40px 0;
                color: #888;
                font-size: 18px;
                font-weight: 400;
                line-height: 29px;
                vertical-align: middle;
                border-bottom: 1px solid #ededed;
            }

        }

        &.last {

            .item2,
            .item3 {
                border-bottom-color: transparent;
            }
        }
    }
}