.b16 {
    color: #fff;
    height: 1230px;
    padding-top: 150px;
    background: url("../img/b16_bg.jpg") 50% 0 no-repeat;

    h2 {
        margin-bottom: 90px;
    }

    .text {
        width: 430px;
        font-size: 22px;
        font-weight: 300;
        line-height: 34px;
        margin-left: 160px;
        margin-bottom: 75px;
    }

    .project {
        margin-left: 160px;
        margin-bottom: 70px;

        .project-title {
            color: #cf442a;
            font-size: 30px;
            font-weight: 300;
            line-height: 30px;
            margin-bottom: 10px;
            text-align: right;
        }

        li {
            float: left;
            width: 33.33%;
            position: relative;

            .hover {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                display: block;
                text-align: center;
                padding-top: 65px;
                position: absolute;
                @include transition(.3s);
                @include gradient-radial(rgba(0,0,0, 0.7), rgba(0,0,0, 0.3));
            }

            &:hover {

                .hover {
                    opacity: 1;
                    @include transition(.3s);
                }
            }
        }
    }
}