.b05 {
    color: #a8a8a8;
    height: 1045px;
    padding-top: 140px;
    background: url("../img/b05_bg.jpg") 50% 0 no-repeat;

    h2 {
        color: #fff;
        margin-bottom: 70px;

        span {
            color: #878787;
            font-size: 17px;
            padding-left: 20px;
            display: inline-block;
        }
    }

    ul {
        margin: 0 60px 70px 60px;

        li {
            width: 50%;
            float: left;
            padding-left: 130px;

            .item-title {
                color: #ca462b;
                font-size: 22px;
                font-weight: 600;
                line-height: 26px;
                position: relative;
                margin-bottom: 10px;
                padding-bottom: 16px;

                &:before {
                    left: 0;
                    bottom: 0;
                    content: '';
                    width: 100px;
                    position: absolute;
                    border-bottom: 1px solid #363636;
                }
            }

            p {
                width: 300px;
                color: #a8a8a8;
                font-size: 18px;
                line-height: 27px;
            }

            &.item1 {
                background: url("../img/b05_item1.png") 0 0 no-repeat;
            }

            &.item2 {
                background: url("../img/b05_item2.png") 0 0 no-repeat;
            }

            &.item3 {
                background: url("../img/b05_item3.png") 0 0 no-repeat;
            }

            &.item4 {
                background: url("../img/b05_item4.png") 0 0 no-repeat;
            }

            &.item5 {
                background: url("../img/b05_item5.png") 0 0 no-repeat;
            }
        }
    }
}