.b06 {
    color: #464646;
    height: 1035px;
    padding-top: 135px;
    background: url("../img/b06_bg.jpg") 50% 0 no-repeat;

    h2 {
        margin-bottom: 90px;
    }

    .technology {
        margin: -10px;

        li {
            float: left;
            width: 33.33%;
            padding: 0 10px;
        }

        .technology-inner {
            height: 550px;
            background: #fff;
            position: relative;
            cursor: pointer;
            padding: 0 35px 75px 35px;
            @include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.07));


            .technology-more {
                left: 35px;
                bottom: 46px;
                color: #ca462b;
                font-size: 18px;
                font-weight: 600;
                line-height: 20px;
                position: absolute;
                display: inline-block;
                text-decoration: none;
                border-bottom: 1px solid transparent;

            }

            &:hover {

                .technology-more {
                    border-bottom-color: #ca462b;
                }
            }
        }

        .technology-image {
            overflow: hidden;
            margin: 0 -35px 45px -35px;
        }

        .technology-title {
            font-size: 24px;
            min-height: 60px;
            font-weight: 600;
            line-height: 30px;
            margin-bottom: 20px;
        }

        .technology-text {
            color: #888;
            height: 130px;
            font-size: 18px;
            line-height: 26px;
            overflow: hidden;
        }

    }
}