.b20 {
    color: #fff;
    height: 850px;
    position: relative;
    background: url("../img/b20_bg.jpg") 50% 0 no-repeat;

    .content {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        position: absolute;
    }

    .container {
        height: 100%;
        padding-top: 140px;
    }

    h2 {
        font-size: 55px;
        line-height: 64px;
        margin-bottom: 30px;
    }

    .text {
        width: 440px;
        color: #a8a8a8;
        font-size: 19px;
        font-weight: 300;
        line-height: 32px;
    }

    .btn-play {
        top: 50%;
        left: 50%;
        color: #fff;
        outline: none;
        width: 150px;
        height: 150px;
        font-size: 50px;
        line-height: 54px;
        cursor: pointer;
        padding: 45px 0 45px 8px;
        text-align: center;
        margin-top: -40px;
        margin-left: -75px;
        position: absolute;
        text-decoration: none;
        display: inline-block;
        background: transparent;
        @include border-radius(50%);
        border: 3px solid #cf442a;

        &:hover {
            background: #cf442a;
        }
    }


    .video-inner {
        width: 100%;
        height: 100%;
        z-index: 2;
        overflow: hidden;
        position: relative;

        video {
            z-index: 2;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
        }

        &:before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 4;
            content: ' ';
            position: absolute;
            background: rgba(0,0,0, 0.8);
        }
    }
}