.b11{
    padding-top: 140px;
    background: url("../img/b11_bg.jpg") 50% 0 no-repeat;

    h2 {
        color: #fff;
        margin-bottom: 85px;
    }

    .portfolio-elite {
        color: #fff;
        margin-bottom: 140px;

        .portfolio-title {
            color: #fff;
            font-size: 30px;
            font-weight: 300;
            line-height: 30px;
            text-align: right;
            margin-bottom: 10px;
        }

        ul {
            margin: 0 2px;
        }

        li {
            float: left;
            width: 33.33%;
            position: relative;

            .hover {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                display: block;
                text-align: center;
                padding-top: 120px;
                position: absolute;
                @include transition(.3s);
                @include gradient-radial(rgba(0,0,0, 0.9), rgba(0,0,0, 0.3));

                .hover-title {
                    color: #fff;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 30px;
                    position: relative;
                    margin-bottom: 15px;
                    padding-bottom: 10px;

                    &:before {
                        left: 50%;
                        bottom: 0;
                        width: 20px;
                        content: '';
                        margin-left: -10px;
                        position: absolute;
                        border-bottom: 1px solid #cf442a;
                    }
                }

                .hover-text {
                    color: #fff;
                    height: 100px;
                    font-size: 18px;
                    overflow: hidden;
                    line-height: 24px;
                    position: relative;
                }
            }

            &:hover {

                .hover {
                    opacity: 1;
                    @include transition(.3s);
                }
            }
        }
    }

    .portfolio {
        margin: 0 15px;

        .portfolio-title {
            color: #464646;
            font-size: 30px;
            font-weight: 300;
            line-height: 30px;
            text-align: right;
            margin-bottom: 10px;
        }

        .portfolio-filter {


            li {
                float: left;
                margin-right: 35px;

                span {
                    cursor: pointer;
                    color: #a8a8a8;
                    font-size: 17px;
                    line-height: 21px;
                    display: inline-block;
                    border-bottom: 1px solid #a8a8a8;

                    &.active {
                        color: #cf442a;
                        border-bottom-color: #cf442a;
                    }
                }
            }
        }
    }


    .portfolio-list {

        .portfolio-item {
            float: left;
            display: none;
            position: relative;

            .hover {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                display: block;
                text-align: center;
                padding-top: 40px;
                position: absolute;
                @include transition(.3s);
                @include gradient-radial(rgba(0,0,0, 0.9), rgba(0,0,0, 0.3));
            }

            .hover-text {
                color: #fff;
                font-size: 20px;
                line-height: 24px;
                position: relative;
                margin-bottom: 20px;
                padding-bottom: 16px;

                &:before {
                    left: 50%;
                    bottom: 0;
                    width: 20px;
                    content: '';
                    margin-left: -10px;
                    position: absolute;
                    border-bottom: 1px solid #cf442a;
                }
            }

            &:hover {

                .hover {
                    opacity: 1;
                    @include transition(.3s);
                }
            }
        }
    }
}


.adaptive {
    width: 100%;
    min-width: 1180px;
    margin: 0 auto;

    .portfolio-item {
        float: left;
        width: 25%;
        position: relative;
    }


    @media (min-width: 1230px) {
        width: 100%;
        padding: 0;

        .portfolio-item {
            width: 25%;
        }
    }

    @media (min-width: 1600px) {

        .portfolio-item {
            width: 20%;
        }
    }
}