.b13 {
    color: #464646;
    height: 755px;
    padding-top: 140px;
    text-align: center;
    background: url("../img/b13_bg.png") 50% 0 no-repeat;

    h2 {
        margin-bottom: 90px;
    }

    .payment {
        width: 100%;
        display: table;
        margin-bottom: 80px;

        li {
            display: table-cell;
            vertical-align: middle;

            &.payment-center {
                width: 380px;
            }

            &.payment-left {
                width: 400px;
                font-size: 70px;
                font-weight: 300;
                line-height: 72px;
                text-align: right;
                padding-right: 60px;

                strong {
                    display: block;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }


            &.payment-right {
                width: 400px;
                color: #888;
                font-size: 30px;
                line-height: 30px;
                text-align: left;
                padding-left: 60px;

                strong {
                    color: #ca462b;
                    font-size: 70px;
                    font-weight: 700;
                    line-height: 70px;
                    display: block;
                    text-transform: uppercase;
                }
            }



            .payment-value {
                width: 319px;
                height: 319px;
                margin: 0 auto;
                font-size: 130px;
                font-weight: 700;
                padding-top: 84px;
                line-height: 150px;
                text-align: center;
                position: relative;
                background: url("../img/b13_item.png") 0 0 no-repeat;

                sup {
                    top: 80px;
                    right: 60px;
                    font-size: 38px;
                    font-weight: 300;
                    line-height: 40px;
                    position: absolute;
                }
            }
        }
    }
}

