.b17 {
    color: #fff;
    height: 722px;
    padding-top: 150px;
    background: url("../img/b17_bg.jpg") 50% 0 no-repeat;

    h2 {
        font-size: 55px;
        font-weight: 600;
        line-height: 60px;
        text-align: center;
        margin-bottom: 70px;
    }

    .form-box {
        width: 584px;
        margin: 0 auto 80px auto;

        li {
            float: left;
            width: 50%;
            padding: 0 22px;
        }

        .btn {
            color: #fff;
        }
    }

    .text {
        width: 700px;
        color: #989898;
        margin: 0 auto;
        font-size: 18px;
        font-weight: 300;
        min-height: 70px;
        line-height: 27px;
        padding-left: 50px;
        background: url("../img/icon-alert.png") 0 50% no-repeat;
    }
}