.b18 {
    color: #464646;
    padding-top: 130px;
    padding-bottom: 90px;
    background: url("../img/b18_bg.jpg") 50% 100% no-repeat;

    h2 {
        margin-bottom: 75px;
    }

    h3 {
        margin-bottom: 80px;
    }

    .web {
        width: 100%;
        display: table;

        li {
            display: table-cell;

            &.item1 {
                width: 275px;
                position: relative;
                text-align: center;
                vertical-align: middle;

                &:before {
                    top: 50%;
                    right: 37px;
                    width: 34px;
                    content: '';
                    position: absolute;
                    border-bottom: 1px solid #ededed;
                }
            }


            &.item2 {
                width: 220px;
                color: #464646;
                padding: 40px 0;
                font-size: 24px;
                font-weight: 300;
                line-height: 32px;
                vertical-align: middle;
                border-bottom: 1px solid #ededed;
            }

            &.item3 {
                padding: 40px 0;
                color: #888;
                font-size: 18px;
                font-weight: 400;
                line-height: 29px;
                vertical-align: middle;
                border-bottom: 1px solid #ededed;
            }

            &.item4 {
                width: 60px;
                position: relative;
                text-align: center;
                vertical-align: middle;
            }
        }

        &.last {
            margin-bottom: 60px;

            .item2,
            .item3 {
                border-bottom-color: transparent;
            }
        }
    }

}