.b03 {
    color: #fff;
    height: 564px;
    text-align: center;
    padding-top: 150px;
    background: url("../img/b03_bg.jpg") 50% 0 no-repeat;

    h2 {
        margin-bottom: 30px;
    }

    p {
        width: 480px;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        margin: 0 auto 40px auto;
    }
}