@font-face {
    font-family:'SegoeUI';
    src: url('../fonts/SegoeUILight/SegoeUI-Light.eot');
    src: url('../fonts/SegoeUILight/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUILight/SegoeUI-Light.woff') format('woff'),
    url('../fonts/SegoeUILight/SegoeUI-Light.ttf') format('truetype'),
    url('../fonts/SegoeUILight/SegoeUI-Light.otf') format('opentype'),
    url('../fonts/SegoeUILight/SegoeUI-Light.svg#SegoeUI-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-2666;
}

@font-face {
    font-family:'SegoeUI';
    src: url('../fonts/SegoeUIRegular/SegoeUI.eot');
    src: url('../fonts/SegoeUIRegular/SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUIRegular/SegoeUI.woff') format('woff'),
    url('../fonts/SegoeUIRegular/SegoeUI.ttf') format('truetype'),
    url('../fonts/SegoeUIRegular/SegoeUI.otf') format('opentype'),
    url('../fonts/SegoeUIRegular/SegoeUI.svg#SegoeUI-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2666;
}

@font-face {
    font-family:'SegoeUI';
    src: url('../fonts/SegoeUISemiBold/SegoeUI-SemiBold.eot');
    src: url('../fonts/SegoeUISemiBold/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUISemiBold/SegoeUI-SemiBold.woff') format('woff'),
    url('../fonts/SegoeUISemiBold/SegoeUI-SemiBold.ttf') format('truetype'),
    url('../fonts/SegoeUISemiBold/SegoeUI-SemiBold.otf') format('opentype'),
    url('../fonts/SegoeUISemiBold/SegoeUI-SemiBold.svg#SegoeUI-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2666;
}

@font-face {
    font-family:'SegoeUI';
    src: url('../fonts/SegoeUIBold/SegoeUI-Bold.eot');
    src: url('../fonts/SegoeUIBold/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUIBold/SegoeUI-Bold.woff') format('woff'),
    url('../fonts/SegoeUIBold/SegoeUI-Bold.ttf') format('truetype'),
    url('../fonts/SegoeUIBold/SegoeUI-Bold.otf') format('opentype'),
    url('../fonts/SegoeUIBold/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2666;
}



@font-face {
    font-family:'PFDinTextPro';
    src: url('../fonts/PFDinTextPro-Regular/PFDinTextPro-Regular_gdi.eot');
    src: url('../fonts/PFDinTextPro-Regular/PFDinTextPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinTextPro-Regular/PFDinTextPro-Regular_gdi.woff') format('woff'),
    url('../fonts/PFDinTextPro-Regular/PFDinTextPro-Regular_gdi.ttf') format('truetype'),
    url('../fonts/PFDinTextPro-Regular/PFDinTextPro-Regular_gdi.otf') format('opentype'),
    url('../fonts/PFDinTextPro-Regular/PFDinTextPro-Regular_gdi.svg#PFDinTextPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family:'PFDinTextPro';
    src: url('../fonts/PFDinTextPro-Medium/PFDinTextPro-Medium_gdi.eot');
    src: url('../fonts/PFDinTextPro-Medium/PFDinTextPro-Medium_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinTextPro-Medium/PFDinTextPro-Medium_gdi.woff') format('woff'),
    url('../fonts/PFDinTextPro-Medium/PFDinTextPro-Medium_gdi.ttf') format('truetype'),
    url('../fonts/PFDinTextPro-Medium/PFDinTextPro-Medium_gdi.svg#PFDinTextPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}



@font-face {
    font-family:'PFBeauSansPro';
    src: url('../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular_gdi.eot');
    src: url('../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular_gdi.woff') format('woff'),
    url('../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular_gdi.ttf') format('truetype'),
    url('../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular_gdi.svg#PFBeauSansPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family:'PFBeauSansPro';
    src: url('../fonts/PFBeauSansPro-SemiBold/PFBeauSansPro-SemiBold_gdi.eot');
    src: url('../fonts/PFBeauSansPro-SemiBold/PFBeauSansPro-SemiBold_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFBeauSansPro-SemiBold/PFBeauSansPro-SemiBold_gdi.woff') format('woff'),
    url('../fonts/PFBeauSansPro-SemiBold/PFBeauSansPro-SemiBold_gdi.ttf') format('truetype'),
    url('../fonts/PFBeauSansPro-SemiBold/PFBeauSansPro-SemiBold_gdi.svg#PFBeauSansPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}