.footer {
    color: #fff;
    padding: 35px 0;
    background: #171717;

    .footer-content {
        width: 100%;
        display: table;
        padding: 0 40px;

        li {
            display: table-cell;
            vertical-align: middle;

            &.logo {
                width: 125px;
            }

            &.copy {
                color: #555;
                width: 270px;
                font-size: 18px;
                font-weight: 300;
                line-height: 24px;
            }

            &.address {
                color: #a8a8a8;
                font-size: 18px;
                font-weight: 300;
                line-height: 24px;
            }

            &.contact {
                width: 200px;
                text-align: right;

                .tel {
                    color: #fff;
                    font-size: 22px;
                    font-weight: 600;
                    line-height: 24px;
                    margin-bottom: 5px;
                    text-decoration: none;
                }

                .btn-callback {
                    color: #cf442a;
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 20px;
                    text-decoration: none;
                    border-bottom: 1px solid #5f332b;
                }
            }
        }
    }
}