
$body-bg                :   #fff !default;
$text-color             :   #222 !default;
$link-color             :   #0d80e6 !default;
$link-hover-decoration  :   underline;


$font-size-base         :   14px !default;
$line-height-base       :   1.428571429 !default;
$font-base              :   'SegoeUI', Helvetica, Arial, sans-serif !default;
$font-din               :   'PFDinTextPro', Arial, sans-serif !default;
$font-beus              :   'PFBeauSansPro', Arial, sans-serif !default;