.btn {
	margin:0;
	color: #464646;
	outline: none;
	cursor: pointer;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	text-align: center;
	position: relative;
	padding: 13px 25px;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	font-family: $font-din;
	background: transparent;
	border: 2px solid #cf442a;
	touch-action: manipulation;
	@include border-radius(27px);

	&:hover {
		color: #fff;
		text-decoration: none;
		background-color: #cf442a;
	}

	&:active {

	}
}

.btn-red {
	color: #fff;
	border-color: #df583e;
	background-color: #df583e;

	&:hover {
		color: #fff;
		border-color: #cf442a;
		background-color: #cf442a;
	}
}

.btn-dark {
	color: #fff;
	border-color: #e7a295;
	background: transparent;

	&:hover {
		background-color: #272727;
		border-color: #272727;
	}
}

.btn-sm {
	font-size: 17px;
	padding-left: 18px;
	padding-right: 18px;

	.icon-calc {
		padding-left: 48px;
		background-position: 20px 50%;
	}

	.icon-compare {
		padding-left: 48px;
		background-position: 20px 50%;
	}
}


.icon-sight {
	padding-left: 58px;
	background-image: url("../img/icon-sight.png");
	background-position:  24px 50%;
	background-repeat: no-repeat;
}

.icon-quest {
	padding-left: 58px;
	background-image: url("../img/icon-quest.png");
	background-position:  24px 50%;
	background-repeat: no-repeat;
}

.icon-calc {
	padding-left: 58px;
	background-image: url("../img/icon-calc.png");
	background-position:  24px 16px;
	background-repeat: no-repeat;

	&:hover {
		background-position: 24px -46px;
	}
}


.icon-compare {
	padding-left: 58px;
	background-image: url("../img/icon-compare.png");
	background-position:  24px 50%;
	background-repeat: no-repeat;
}

