.form-control {
	margin: 0;
	width: 100%;
	color: #888;
	border: none;
	outline: none;
	font-size: 20px;
	font-weight: 300;
	padding: 18px 20px 18px 25px;
	display: inline-block;
	background: transparent;
	vertical-align: middle;
	border-bottom: 1px solid #ededed;
	@include placeholder(#888);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}

	&.invert {
		color: #fff;
		border-color: #5b646e;
		border-bottom-color: #666;
		@include placeholder(#fff);

		&:focus {
			@include placeholder(transparent);
		}
	}
}


.form-group {
	padding-left: 10px;
	margin-bottom: 25px;

	&.icon-user {
		background: url("../img/icon-user.png") 0 50% no-repeat;
	}

	&.icon-tel {
		background: url("../img/icon-tel.png") 0 50% no-repeat;
	}

	&.icon-email {
		background: url("../img/icon-email.png") 0 50% no-repeat;
	}

	&.icon-site-gray {
		background: url("../img/icon-site-gray.png") 0 50% no-repeat;
	}

	&.icon-user-gray {
		background: url("../img/icon-user-gray.png") 0 50% no-repeat;
	}

	&.icon-tel-gray {
		background: url("../img/icon-tel-gray.png") 0 50% no-repeat;
	}

}







label {
	font-weight: 400;
	display: block;
}
